/* Override some defaults */
html, body {
  background-color: #eee;
}
.navbar {
  margin-bottom: 0;
}
.container > footer {
  margin-top: 20px;
}
.container > footer p {
  text-align: center; /* center align it with the container */
}

/* Site slogan */
.slogan {
  padding: 10px 0 11px;
  color: #000;
  font-size: 20px;
  font-weight: 800;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 30px rgba(255, 255, 255, 0.125);
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px;
  margin: 20px -20px 0; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.page h2{
  font-size: 16px;
  line-height: 1.5;
  margin: 4px 0;
}

.page h3 {
  font-size: 14px;
  line-height: 1.5;
  margin: 4px 0;
}

.post h2 {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 9px;
  font-weight: 400;
}

.post h3 {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 9px;
  font-weight: 400;
}

.post p, .about p {
  text-indent: 2em;
  font-size:14px;
  line-height: 1.8;
}

.post .sidebar {
  padding-top: 59px;
}

.post .sidebar .date {
  margin-bottom: 10px;
}

.post .sidebar .date span {
  font-size: 13px;
  font-weight: 400;
}

.about .refer {
  text-align:right;
  color:#999;
  margin-top: 4px;
}

.about .refer cite {
  font-size:16px;
  font-style: italic;
}

.pager {
  margin-top: 36px;
}

.pager a {
  border: none;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

h1.title {
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-size: 20px;
  line-height: 1.5;
  border-bottom: 1px solid #eee;
}

.topbar .btn {
  border: 0;
}


/* tag_box ======================================================== */

.tag_box {
	list-style:none;
	margin:0 0 10px 0;
	padding:5px 0 ;
	overflow:hidden;
}
.tag_box li {
	line-height:28px;
}
.tag_box.inline li {
	float:left;
}
.tag_box a {
	padding: 3px 6px;
	margin: 2px;
	background: #eee;
	color:#005F6B;
	border-radius: 3px;
	text-decoration:none;
}
.tag_box a span{
	vertical-align:super;
	font-size:0.8em;
}
.tag_box a.active {
	background:#57A957;
	border:1px solid #4C964D;
	color:#FFF;
}
	
